:root {
  --primary: #C9C9C9;
  --white: #FFFFFF;
  --black: #000000;
  --almost-white: #F3F3F3;
  --almost-black: #171717;
  --grey: #5A5A5A;

  --tablet: 786px;
  --desktop: 992px;

  --max-width: 1280px;
  --padding: 1rem;

  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 992px) {
    --padding: 2rem;
  }
}