@use "./variables" as *;
@use "./fonts" as *;

.about {
    position: relative;
    background-color: var(--almost-black);
    background-image: url(../assets/img/noise.png);
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 3rem 0 0 0;
    margin: 2rem 0 0 0;
    z-index: 0;
    border-radius: 1.5rem 1.5rem;
    box-shadow: 0 0 16px var(--black-30);

    @media screen and (min-width: 768px) {
        width: calc(100% - 3rem);
        // width: 100%;
        padding: 3rem 0 0 0;
        margin: 2rem auto;
        border-radius: 2rem;
    }
}

.about__container {
    @media screen and (min-width: 768px) {
        position: sticky;
        top: 0;
        z-index: 0;
    }
}

.about__content {
    margin: 0 auto;
    padding: 1rem 0 10rem 0;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 70%;
        padding: 2rem 0 10rem 0;
    }
}

.about__title,
.about__text {
    color: var(--almost-white);
    text-transform: uppercase;
}

.about__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.about__text {
    @include ptsans();
    font-size: 1.5rem;
    letter-spacing: 1px;

    @media screen and (min-width: 768px) {
        font-size: 1.875rem;
    }
}

.site__title__container {
    @media screen and (min-width: 768px) {
        position: sticky;
        top: 2rem;
        z-index: 1;
    }
}

.site__title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--almost-white);
    text-transform: uppercase;
    padding: 2rem 0;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 768px) {
        font-size: 2rem;
    }
}

.site__global {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 0;
}

.site__solo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 6rem;
    overflow: hidden;

     &.is-active {
        .site__solo__bandeau {
            position: absolute;
            top: 0;
            margin-top: -100px;
            opacity: 1;
        }

        .site__link {
            position: absolute;
            top: 0;
            opacity: 1;
        }
    }

    @media screen and (min-width: 768px) {
        height: 120vh;
        border-top: 1px solid var(--darkgrey);

        &:nth-child(1) {
            border-top: none;
        }
    }
}

.site__solo__bandeau {
    position: absolute;
    top: 10%;
    left: 0;
    pointer-events: none;
    z-index: -1;
    
    @media screen and (min-width:768px) {
        opacity: 0;
    }
}

.site__solo__bandeau__inner {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    overflow: hidden;
    padding: 1.5rem 0;

    &:nth-child(odd) {
        .site__solo__bandeau__text {
            animation: slide-left 110s linear infinite;   
        }
    }

    &:nth-child(even) {
        .site__solo__bandeau__text {
            animation: slide-right 110s linear infinite;   
        }
    }
}

.site__solo__bandeau__text {
    @include grotesk();
    color: var(--grey);
    overflow: hidden;
    display : flex;
    flex-shrink: 0;
    align-items: center;

    @media screen and (min-width:768px) {
        color: var(--white);
    }
     
    p {
        font-size: 7rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 10px;
        padding-left: 4rem;
    }
}

.site__link {
    width: calc(100% - (var(--padding) * 2));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 4px;

    @media screen and (min-width:768px) {
        opacity: 0;
        width: 70%;
    }
}

.site__visuel {
    position: relative;
    width: 100%;
    max-width: 460px;
    height: auto;
    display: block;
    border-radius: 8px;
    border: 12px solid var(--almost-white);
    transition: max-width 0.2s ease-in-out;

    @media screen and (min-width: 992px) {
        max-width: 600px;
    }
}

.site__content {
    width: 100%;
    padding-top: 2rem;
}

.site__name {
    position: relative;
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--white);
    line-height: 1.25;
    margin-bottom: 1rem;
    text-decoration: underline;
    padding: 0 2rem 0 0;
    display: inline-block;

    &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        right: 0;
        top: 50%;
        background: url('../assets/img/external-white.svg');
        background-size: 20px 20px;
        transform: translateY(-50%);
    }

    &:hover {
        text-decoration: none;
    }
}

.site__tech {
    font-size: 1rem;
    font-style: italic;
    line-height: 1.25;
    color: var(--white);
    opacity: 0.6;
    margin-bottom: .5rem;

    @media screen and (min-width: 768px) {
        font-size: 1.25rem;
    }
}

.site__fonc {
    font-size: 1.25rem;
    line-height: 1.25;
    font-style: italic;
    color: var(--white);
    padding-left: 1.5rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
        font-size: 1.25rem;
    }
}

.site__desc {
    font-size: 1rem;
    line-height: 1.25;
    color: var(--white);
    display: none;

    @media screen and (min-width: 786px) {
        display: block;
    }

    @media screen and (min-width: 992px) {
        font-size: 1.25rem;
    }
}