@use "./variables" as *;
@use "./fonts" as *;

.about {
    position: relative;
    background-color: var(--almost-black);
    background-image: url(../assets/img/noise.png);
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 3rem 0;
    margin: 2rem 0;
    z-index: 0;
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0 0 16px var(--black-30);

    @media screen and (min-width: 768px) {
        width: calc(100% - 3rem);
        padding: 3rem 0 6rem 0;
        margin: 2rem auto;
        border-radius: 2rem;
    }
}

.about__container {
    @media screen and (min-width: 768px) {
        position: sticky;
        top: 0;
        z-index: 0;
    }
}

.about__content {
    margin: 0 auto;
    padding: 3rem 0 6rem 0;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 70%;
        padding: 2rem 0 6rem 0;
    }
}

.about__title,
.about__text {
    color: var(--almost-white);
    text-transform: uppercase;
}

.about__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.about__text {
    @include ptsans();
    font-size: 1.5rem;
    letter-spacing: 1px;

    @media screen and (min-width: 768px) {
        font-size: 2rem;
    }
}

.site__title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--almost-white);
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.site__global {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    z-index: 0;
}

.site__solo {
    width: 100%;

    &.-right {
        text-align: right;
    }
}

.site__link {
    background: var(--almost-white);
    text-align: center;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 0 16px 4px var(--black);
    transition: all 0.2s ease-in-out;

    @media screen and (min-width: 768px) {
        display: inline-block;
        padding: 2rem;

        &:hover {
            background: var(--white);

            .site__name {
                text-decoration: none;
            }
        }
    }
}

.site__visuel {
    display: block;
    width: 460px;
    height: auto;
    margin: 0 auto 1.25rem auto;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.site__name {
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--almost-black);
    line-height: 1em;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    padding: 0 2rem;
    display: inline-block;

    &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        right: 0;
        top: 50%;
        background: url('../assets/img/external.svg');
        background-size: 20px 20px;
        transform: translateY(-50%);
    }

    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.site__desc {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--almost-black);
    opacity: 0.65;

    @media screen and (min-width: 768px) {
        font-size: 1rem;
    }
}