@use "./variables" as *;
@use "./fonts" as *;

body {
    @include grotesk();
    background-color: var(--white);
    background-image: url(../assets/img/noise.png);
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100dvh;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    padding: 0 var(--padding);
    margin: 0 auto;
}