@use "./variables" as *;
@use "./fonts" as *;

body {
    @include grotesk();
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        background-color: var(--white);
        background-image: url(../assets/img/noise.png);
        background-repeat: repeat;
        background-attachment: fixed;
        z-index: -1;
    }
}

.container {
    width: 100%;
    max-width: var(--max-width);
    padding: 0 var(--padding);
    margin: 0 auto;
}