@use "./variables" as *;
@use "./fonts" as *;

.footer {
    background: var(--almost-white);
    padding: 2rem 0 1rem 0;

    @media screen and (min-width: 768px) {
        padding: 3rem 0 2rem 0;
    }

    p {
        font-size: 1rem;
        margin-bottom: 0.25rem;

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
    
    a {
        @include ptsans(700);
        font-size: 1.5rem;
        color: var(--almost-black);
        text-decoration: none;

        @media screen and (min-width: 768px) {
            font-size: 2.25rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.copy {
    margin-top: 2.5rem;

    p {
        font-size: 1rem;
        text-align: center;
    }
}