@use "./variables" as *;
@use "./fonts" as *;

.footer {
    background: var(--almost-white);
    padding: 3rem 0;

    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
    
    a {
        @include ptsans(700);
        font-size: 1.375rem;
        color: var(--almost-black);
        text-decoration: none;

        @media screen and (min-width: 768px) {
            font-size: 2.25rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}