@use "./variables" as *;
@use "./fonts" as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.animated {
        opacity: 1;
    }
}

.header__name {
    margin-right: 1rem;
}

.header__title {
    display: flex;
    justify-content: flex-start;
    // align-items: center;

    @media screen and (min-width: 768px) {
        font-size: 2.25rem;
    }
}

.header__logo {
    width: 32px;
    height: 32px;
    display: block;
    align-self: center;
    margin-top: -2px;
    margin-right: 1.25rem;

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
    }
}

.title {
    @include grotesk(500);
    font-size: 1.75rem;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
        font-size: 2.25rem;
    }
}