@use "./variables" as *;
@use "./fonts" as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}

.header__name {
    margin-right: 1rem;
}

.title {
    @include grotesk(500);
    font-size: 1.75rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
        font-size: 2.25rem;
    }
}

.header__logo {
    margin-right: 1rem;
    display: inline-block;
    width: 75px;
    height: 75px;
}

.header__contact {
    margin-top: 0.25rem;
    margin-right: 0;
}

.linkedin {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
    display: inline-block;
    
    path {
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        path {
            fill: var(--grey);
        }
    }
}

.mail {
    width: 44px;
    height: 32px;
    display: inline-block;

    &:hover {
        path {
            fill: var(--grey);
        }
    }
}