@use "./variables" as *;
@use "./fonts" as *;

.intro {
    padding: var(--padding);
    margin-top: 4rem;

    @media screen and (min-width: 768px) {
        margin-top: 6rem;
    }
}

.intro__desc {
    width: 80%;
    margin: 0 auto;
}

.intro__poste {
    @include grotesk(500);
    font-size: 2rem;

    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 3.5rem;
    }
}

.intro__skill {
    font-size: 1rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
        font-size: 1.25rem;
    }
}

.intro__text {
    font-size: 1.25rem;

    strong {
        @include grotesk(500);
    }

    @media screen and (min-width: 992px) {
        font-size: 1.5rem;
    }
}

.intro__contact {

}