@use "./variables" as *;
@use "./fonts" as *;

.intro {
    display: flex;
    align-items: center;
    height: 103vh;
    transition: height 1s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;

    &.animated-opacity {
        opacity: 1;
    }

    &.animated-height {
        height: 78vh;
        height: 78dvh;
    }

    @media screen and (min-width: 992px) {
        height: 100vh;
        height: 100dvh;
    
        &.animated-height {
            height: 70vh;
            height: 70dvh;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem var(--padding);
        position: sticky;
        top: calc(50% - 39vh);

        @media screen and (min-width: 992px) {
            top: calc(50% - 35vh);
        }
    }
}

.intro__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.intro__name {
    width: 100%;
    order: 2;
    text-align: center;

    @media screen and (min-width: 992px) {
        order: 1;
        width: calc(100% - 400px - 1rem);
        text-align: left;
    }
}

.intro__poste {
    @include grotesk(500);
    font-size: 1.75rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;

    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 3.5rem;
    }
}

.intro__skill {
    font-size: 1rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
        font-size: 1.25rem;
    }
}

.intro__location {
    font-size: 0.875rem;

    @media screen and (min-width: 992px) {
        font-size: 1rem;
    }
}

.intro__photo {
    order: 1;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 992px) {
        order: 2;
        width: calc(400px - 1rem);
    }
}

.intro__img {
    width: 180px;
    height: auto;
    display: block;
    border-radius: 100%;
    border: 4px solid var(--white);

    @media screen and (min-width: 992px) {
        width: 300px;
        margin-right: 0;
        margin-left: auto;
    }
}