@use "./variables" as *;
@use "./fonts" as *;

.intro {
    position: sticky;
    top: 0;
    height: 70vh;
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    // .container {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
}

.intro__content {
    // margin: 0 auto;

    // @media screen and (min-width: 768px) {
    //     width: 80%;
    // }
}

.intro__poste {
    @include grotesk(500);
    font-size: 2rem;
    line-height: 1.25em;

    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 3.5rem;
    }
}

.intro__skill {
    font-size: 1rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
        font-size: 1.25rem;
    }
}

.intro__text {
    font-size: 1.25rem;

    strong {
        @include grotesk(500);
    }

    @media screen and (min-width: 992px) {
        font-size: 1.5rem;
    }
}